# Python / entornos
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Config/secretos
# .env (Comentado porque el usuario quiere subirlo a un repo privado)
# .env.*
secrets/
!secrets/README.md

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Documentación obsoleta archivada
docs_old/

# Logs / builds
logs/
*.log
build/
dist/
.eggs/
.aws-sam/
htmlcov/
coverage.xml
.coverage

# Ngrok
.ngrok2/